.debug{
    background-color: palevioletred;
    height: 70px;
    border: solid 1px white;
}

.debug2{
    background-color: aquamarine;
    height: 500px;
}

.debug_card{
    background-color: royalblue;
    height: 200px;
    border: solid white 1px;
}

.bg_menu{
    background-color: #2C3E50;
}

.row_menu{
    height: 70px;
}

.avatar_box{
    max-width: 250px;
    max-height: 250px;
}

.profile{
    background-color: #1ABC9C;
}