:root{
    --background-menu: #2C3E50;
    --light-green: #1ABC9C;
    --bg_footer: #3A546D;
    --bg2_footer: #2C3E50;
}

.bg_menu{
    background-color: var(--background-menu);
}

.header_nav{
    height: 70px;
}

.avatar_box{
    max-width: 250px;
    max-height: 250px;
}

.light_green{
    background-color: var(--light-green);
}


.bg_footer{
    background-color: var(--bg_footer);
}

.bg2_footer{
    background-color: var(--bg2_footer);
}

.px_6{
    padding-left: 6rem;
    padding-right: 6rem;
}

.br_0{
    border-radius: 0px;
}

.icon_circle{
    width: 40px;
    height: 40px;
}

.text_footer{
    color: #1ABC9C;
}

.form-control::-webkit-input-placeholder {
    color: black;
  }