.debug{
    background-color: palevioletred;
    height: 70px;
    border: solid 1px white;
}

.debug2{
    background-color: aquamarine;
    height: 500px;
}

.debug_card{
    background-color: royalblue;
    height: 200px;
    border: solid white 1px;
}